.faqs-container {
  border: 0px solid #52606d;
  height: 50px;
  width: 60%;
}
.answer {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 400;
}
.line {
  width: 100%;
  color: #cb8805;
}
.question-container {
  display: flex;
  flex-direction: row;
}
